.mainContainer{
    position: relative;
    font-family: Arial;
  
  }
  .homeBanner{
      width: 100%;
      opacity: 0.8;
  }
  
  .text-block {
    position: absolute;
    bottom: 680px;
    right: 1020px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .spyra{
      font-weight: bold;
      color: red;
  }
  .solution{
      font-weight: bold;
      color: blue;   
  }
  .for{
      color: rgb(44, 44, 44);
      font-weight: bold;
  }
  .typewriter{
    font-size: 20px;
  }
  .socialMedia{
    padding: 10px;
    font-size: 20px;
  }
  .insta{
text-decoration: none;
color: red;
  }

  /* .................................... */
  /* about page */
  /* .................................... */
  .aboutHeading{
padding-top: 20px;
font-weight: bold;
  }
   /* .................................... */
  /* about page */
  /* .................................... */